<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PetsitterFinderEntities" connectionString="metadata=res://*/FinderDB.csdl|res://*/FinderDB.ssdl|res://*/FinderDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-AE8I059\SQLEXPRESS;initial catalog=PetsitterFinder;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>